*.pyc
dist/
glTools/
general/test.py
install/installer/build/
pipe/manager/build/
install/MayaPlugins/CreateHole/x64/
install/MayaPlugins/stretchmesh/_UpgradeReport_Files/
install/MayaPlugins/stretchmesh/Release/
install/MayaPlugins/simpleSolverNode/x64/
nuk/MultiChannelSplit/.DS_Store
rigging/setupOcc/.ropeproject/
render/renderOcc/.ropeproject/
install/.ropeproject/
animation/playblast/.ropeproject/
.ropeproject/
*.sdf
*.opensdf
*.filters
*.swatches
install/MayaPlugins/ropeGenerator/Release/
install/MayaPlugins/rbfSolver/Release/
install/MayaPlugins/rbfSolver/x64/
install/botonera/build/
